# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv
my_env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static
*.pot

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Markdown файлы (учебные материалы)
*.md
!README.md

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

cert.crt
cert.key
